*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(227, 227, 228);
  display: flex;
  flex-wrap: wrap;
}
body > * {
  flex-shrink: 0;
  gap: 10px;
}

.main-card {
  width: 21rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  overflow: hidden;
  border-radius: 0.25rem;
}

/*=============================================
=            main-card-content               =
=============================================*/
.main-card-content:hover {
  background-color: rgb(249, 249, 249);
}
.main-card-content {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.9rem;
}
.main-card-content h2 {
  color: rgba(0, 0, 0);
  font-size: 1.3rem;
}
/*=============================================
=            main-card-content-header            =
=============================================*/
.flex-col-rev {
  /* header at top */
  display: flex;
  flex-direction: column-reverse;
}
.flex-row {
  /* header at top */
  display: flex;
  flex-direction: row;
}
.rel {
  position: relative;
}
.content-header-abs {
  position: absolute;
  bottom: 1%;
  left: 1%;
}
.content-header-abs > h2,
.content-header-abs > h3 {
  color: white;
}
.main-card-content-header div:nth-child(1) {
  flex-shrink: 2;
}
.main-card-content-header img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.main-card-content-header-title {
  width: 100%;
  padding: 1rem;
}

/*=====  End of main-card-content-header  ======*/

/*=============================================
=            main-card-content-body            =
=============================================*/
.main-card-content-body {
  padding: 1rem;
}

/*=====  End of main-card-content-body  ======*/

/*=============================================
=            main-card-footer            =
=============================================*/
.main-card-footer {
  display: flex;
  padding: 1rem;
}

/*=============================================
=            footer buttons            =
=============================================*/

.main-card-footer-buttons {
  display: inline-flex;
  margin-right: auto;
  gap: 1rem;
}

.main-card-footer-buttons button {
  background: none;
  border: none;
  color: rgb(98, 0, 238);
  font-size: 0.9rem;
}

/*=====  End of footer buttons  ======*/

/*=============================================
=            icons            =
=============================================*/
.dis-none {
  /* for no buttons */
  display: none;
}
.main-card-footer-icons button {
  background: none;
  border: none;
}
.main-card-footer-icons button img {
  width: 1rem;
  height: 1rem;
  color: black;
  background-repeat: no-repeat;
}
.main-card-footer-icons {
  display: inline-flex;
  justify-content: flex-end;
  margin-left: auto;
  gap: 1rem;
}
/*=====  End of icons  ======*/

/*=====  End of main-card-footer  ======*/
